src_path: fuel/app
spec_path: fuel/app/tests
phpunit.xml: fuel/core/phpunit.xml

modules:
  mymod:
    namespace: My
    spec_path: ~
    src_path: ~

extensions:
    - PhpSpec\Fuelphp\Extension
