src_path: fuel/app
spec_path: fuel/app/tests
phpunit.xml: fuel/core/phpunit.xml

modules:
  my:
    namespace: My
    spec_path: fuel/app/tests
    src_path: fuel/app/modules/

#suites:
#  acme_suite:
#    namespace: Acme\TheLib
#    spec_prefix: acme_spec

extensions:
    - PhpSpec\Fuelphp\Extension
